/.metadata/
OtherProjects/bin/hust/soict/dsai/lab02/src/hust/soict/dsai/disc/TestPassingParameter.class
OtherProjects/bin/hust/soict/dsai/lab02/src/hust/soict/dsai/disc/TestPassingParameter.class
OtherProjects/bin/hust/soict/dsai/lab02/src/hust/soict/dsai/disc/DigitalVideoDisc.class
*.class
*.class
OtherProjects/bin/hust/soict/dsai/garbage/ConcatenationInLoops.class
*.class
OtherProjects/bin/hust/soict/dsai/garbage/GarbageCreator.class
OtherProjects/bin/hust/soict/dsai/garbage/GarbageCreator.class
